In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pymongo import MongoClient

In [2]:
df = pd.read_csv("crime_dataset_india.csv")
df.head()

,Report Number,Date Reported,Date of Occurrence,Time of Occurrence,City,Crime Code,Crime Description,Victim Age,Victim Gender,Weapon Used,Crime Domain,Police Deployed,Case Closed,Date Case Closed
0,1,02-01-2020 00:00,01-01-2020 00:00,01-01-2020 01:11,Ahmedabad,576,IDENTITY THEFT,16,M,Blunt Object,Violent Crime,13,No,NaN
1,2,01-01-2020 19:00,01-01-2020 01:00,01-01-2020 06:26,Chennai,128,HOMICIDE,37,M,Poison,Other Crime,9,No,NaN
2,3,02-01-2020 05:00,01-01-2020 02:00,01-01-2020 14:30,Ludhiana,271,KIDNAPPING,48,F,Blunt Object,Other Crime,15,No,NaN
3,4,01-01-2020 05:00,01-01-2020 03:00,01-01-2020 14:46,Pune,170,BURGLARY,49,F,Firearm,Other Crime,1,Yes,29-04-2020 05:00
4,5,01-01-2020 21:00,01-01-2020 04:00,01-01-2020 16:51,Pune,421,VANDALISM,30,F,Other,Other Crime,18,Yes,08-01-2020 21:00

In [3]:
print(df.describe)

<bound method NDFrame.describe of        Report Number     Date Reported Date of Occurrence Time of Occurrence  \
0                  1  02-01-2020 00:00   01-01-2020 00:00   01-01-2020 01:11
1                  2  01-01-2020 19:00   01-01-2020 01:00   01-01-2020 06:26
2                  3  02-01-2020 05:00   01-01-2020 02:00   01-01-2020 14:30
3                  4  01-01-2020 05:00   01-01-2020 03:00   01-01-2020 14:46
4                  5  01-01-2020 21:00   01-01-2020 04:00   01-01-2020 16:51
...              ...               ...                ...                ...
40155          40156  01-08-2024 16:00   07-31-2024 03:00   31-07-2024 05:05
40156          40157  31-07-2024 14:00   07-31-2024 04:00   31-07-2024 04:14
40157          40158  02-08-2024 03:00   07-31-2024 05:00   31-07-2024 21:33
40158          40159  01-08-2024 19:00   07-31-2024 06:00   31-07-2024 11:05
40159          40160  31-07-2024 17:00   07-31-2024 07:00   31-07-2024 17:19

            City  Crime Code   Crime Description  Victim Age Victim Gender  \
0      Ahmedabad         576      IDENTITY THEFT          16             M
1        Chennai         128            HOMICIDE          37             M
2       Ludhiana         271          KIDNAPPING          48             F
3           Pune         170            BURGLARY          49             F
4           Pune         421           VANDALISM          30             F
...          ...         ...                 ...         ...           ...
40155    Kolkata         312      COUNTERFEITING          78             F
40156     Mumbai         300  ILLEGAL POSSESSION          75             F
40157     Kanpur         423    VEHICLE - STOLEN          68             M
40158      Patna         311      SEXUAL ASSAULT          11             M
40159      Delhi         193   DOMESTIC VIOLENCE          43             F

        Weapon Used   Crime Domain  Police Deployed Case Closed  \
0      Blunt Object  Violent Crime               13          No
1            Poison    Other Crime                9          No
2      Blunt Object    Other Crime               15          No
3           Firearm    Other Crime                1         Yes
4             Other    Other Crime               18         Yes
...             ...            ...              ...         ...
40155       Firearm    Other Crime               12          No
40156           NaN    Other Crime                2         Yes
40157         Other  Violent Crime                6          No
40158  Blunt Object  Violent Crime                1          No
40159        Poison  Violent Crime                7         Yes

       Date Case Closed
0                   NaN
1                   NaN
2                   NaN
3      29-04-2020 05:00
4      08-01-2020 21:00
...                 ...
40155               NaN
40156  29-09-2024 14:00
40157               NaN
40158               NaN
40159  28-09-2024 17:00

[40160 rows x 14 columns]>

In [4]:
# Check for missing values in each column
missing_values = df.isnull().sum()
missing_percentage = (missing_values / len(df)) * 100

# Display the columns with missing values and their percentage
missing_info = pd.DataFrame({'Missing Values': missing_values, 'Percentage': missing_percentage})
missing_info = missing_info[missing_info['Missing Values'] > 0].sort_values('Percentage', ascending=False)
missing_info

                  Missing Values  Percentage
Date Case Closed           20098   50.044821
Weapon Used                 5790   14.417331

In [5]:
# Handling missing values in the 'Date Case Closed' and 'Weapon Used' columns

# Filling missing 'Date Case Closed' with 'Not Closed'
df['Date Case Closed'].fillna('Not Closed', inplace=True)

# Filling missing 'Weapon Used' with 'No Weapon'
df['Weapon Used'].fillna('No Weapon', inplace=True)

# Verify if missing values are handled
missing_values_after = df.isnull().sum()

# Output the number of missing values after handling
missing_values_after[['Date Case Closed', 'Weapon Used']]

Date Case Closed    0
Weapon Used         0
dtype: int64

In [6]:
df['Date Reported'] = pd.to_datetime(df['Date Reported'], format='%d-%m-%Y %H:%M', errors='coerce')
df['Date of Occurrence'] = pd.to_datetime(df['Date of Occurrence'], format='%d-%m-%Y %H:%M', errors='coerce')
df['Date Case Closed'] = pd.to_datetime(df['Date Case Closed'], format='%d-%m-%Y %H:%M', errors='coerce')

In [7]:
df['Victim Gender'] = df['Victim Gender'].astype('category')

In [8]:
df['Crime Code'] = df['Crime Code'].astype(str)  # Ensure it's treated as a string
df['Crime Description'] = df['Crime Description'].astype('category')

In [9]:
df = pd.get_dummies(df, columns=['City', 'Crime Domain', 'Victim Gender'], drop_first=True)

In [10]:
missing_values_after_transformation = df.isnull().sum()
missing_columns = missing_values_after_transformation[missing_values_after_transformation > 0]
missing_columns

Date of Occurrence    24320
Date Case Closed      20098
dtype: int64

In [11]:
# Fill missing 'Date of Occurrence' with 'Unknown' or a placeholder date
df['Date of Occurrence'].fillna('Unknown', inplace=True)

# Verify if missing values are handled
missing_values_after_filling = df.isnull().sum()

# Output the number of missing values after handling
missing_values_after_filling[['Date of Occurrence']]

C:\Users\mvr29\AppData\Local\Temp\ipykernel_15216\1923913087.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Unknown' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df['Date of Occurrence'].fillna('Unknown', inplace=True)

Date of Occurrence    0
dtype: int64

In [12]:
# Convert 'Date Case Closed' column to string type first to avoid dtype incompatibility
df['Date Case Closed'] = df['Date Case Closed'].astype(str)

# Fill missing values in 'Date Case Closed' with 'Not Closed'
df['Date Case Closed'].fillna('Not Closed', inplace=True)

# Verify that there are no missing values left
missing_values_after_final_check = df.isnull().sum()

# Output the number of missing values after the final check
missing_values_after_final_check[['Date Case Closed']]

Date Case Closed    0
dtype: int64

In [13]:
# Check for any unexpected null values again after transformation
assert df.isnull().sum().sum() == 0, "There are still missing values in the dataset"

# Verify the data types
df.dtypes

Report Number                             int64
Date Reported                    datetime64[ns]
Date of Occurrence                       object
Time of Occurrence                       object
Crime Code                               object
Crime Description                      category
Victim Age                                int64
Weapon Used                              object
Police Deployed                           int64
Case Closed                              object
Date Case Closed                         object
City_Ahmedabad                             bool
City_Bangalore                             bool
City_Bhopal                                bool
City_Chennai                               bool
City_Delhi                                 bool
City_Faridabad                             bool
City_Ghaziabad                             bool
City_Hyderabad                             bool
City_Indore                                bool
City_Jaipur                                bool
City_Kalyan                                bool
City_Kanpur                                bool
City_Kolkata                               bool
City_Lucknow                               bool
City_Ludhiana                              bool
City_Meerut                                bool
City_Mumbai                                bool
City_Nagpur                                bool
City_Nashik                                bool
City_Patna                                 bool
City_Pune                                  bool
City_Rajkot                                bool
City_Srinagar                              bool
City_Surat                                 bool
City_Thane                                 bool
City_Varanasi                              bool
City_Vasai                                 bool
City_Visakhapatnam                         bool
Crime Domain_Other Crime                   bool
Crime Domain_Traffic Fatality              bool
Crime Domain_Violent Crime                 bool
Victim Gender_M                            bool
Victim Gender_X                            bool
dtype: object

In [14]:
# Convert 'Date of Occurrence' column to datetime type
df['Date of Occurrence'] = pd.to_datetime(df['Date of Occurrence'], errors='coerce')

# Verify the data type change
df.dtypes

Report Number                             int64
Date Reported                    datetime64[ns]
Date of Occurrence               datetime64[ns]
Time of Occurrence                       object
Crime Code                               object
Crime Description                      category
Victim Age                                int64
Weapon Used                              object
Police Deployed                           int64
Case Closed                              object
Date Case Closed                         object
City_Ahmedabad                             bool
City_Bangalore                             bool
City_Bhopal                                bool
City_Chennai                               bool
City_Delhi                                 bool
City_Faridabad                             bool
City_Ghaziabad                             bool
City_Hyderabad                             bool
City_Indore                                bool
City_Jaipur                                bool
City_Kalyan                                bool
City_Kanpur                                bool
City_Kolkata                               bool
City_Lucknow                               bool
City_Ludhiana                              bool
City_Meerut                                bool
City_Mumbai                                bool
City_Nagpur                                bool
City_Nashik                                bool
City_Patna                                 bool
City_Pune                                  bool
City_Rajkot                                bool
City_Srinagar                              bool
City_Surat                                 bool
City_Thane                                 bool
City_Varanasi                              bool
City_Vasai                                 bool
City_Visakhapatnam                         bool
Crime Domain_Other Crime                   bool
Crime Domain_Traffic Fatality              bool
Crime Domain_Violent Crime                 bool
Victim Gender_M                            bool
Victim Gender_X                            bool
dtype: object

In [15]:
df['Time of Occurrence'] = pd.to_datetime(df['Time of Occurrence'], errors='coerce').dt.hour

In [16]:
df.dtypes

Report Number                             int64
Date Reported                    datetime64[ns]
Date of Occurrence               datetime64[ns]
Time of Occurrence                      float64
Crime Code                               object
Crime Description                      category
Victim Age                                int64
Weapon Used                              object
Police Deployed                           int64
Case Closed                              object
Date Case Closed                         object
City_Ahmedabad                             bool
City_Bangalore                             bool
City_Bhopal                                bool
City_Chennai                               bool
City_Delhi                                 bool
City_Faridabad                             bool
City_Ghaziabad                             bool
City_Hyderabad                             bool
City_Indore                                bool
City_Jaipur                                bool
City_Kalyan                                bool
City_Kanpur                                bool
City_Kolkata                               bool
City_Lucknow                               bool
City_Ludhiana                              bool
City_Meerut                                bool
City_Mumbai                                bool
City_Nagpur                                bool
City_Nashik                                bool
City_Patna                                 bool
City_Pune                                  bool
City_Rajkot                                bool
City_Srinagar                              bool
City_Surat                                 bool
City_Thane                                 bool
City_Varanasi                              bool
City_Vasai                                 bool
City_Visakhapatnam                         bool
Crime Domain_Other Crime                   bool
Crime Domain_Traffic Fatality              bool
Crime Domain_Violent Crime                 bool
Victim Gender_M                            bool
Victim Gender_X                            bool
dtype: object

In [17]:
df['Time of Occurrence'] = pd.to_numeric(df['Time of Occurrence'], errors='coerce')  # Convert to numeric, force errors to NaN
df['Time of Occurrence'].fillna(0, inplace=True)  # Replace NaN with 0 or any appropriate value

In [18]:
df['Hour of Day'] = df['Time of Occurrence'].astype(int)

In [19]:
df['Day of Week'] = df['Date of Occurrence'].dt.dayofweek
df['Month'] = df['Date of Occurrence'].dt.month
df['Hour of Day'] = df['Time of Occurrence'].astype(int)

In [20]:
df.to_csv("cleaned_crime_data.csv", index=False)

In [21]:
df = pd.read_csv("cleaned_crime_data.csv")

data_dict = df.to_dict(orient='records')

client = MongoClient("mongodb+srv://reshma_madala:admin123@crimewatch.ntwx0xx.mongodb.net/?retryWrites=true&w=majority&appName=CrimeWatch")  
db = client["crimesdata"] 
collection = db["crimestable"]  

collection.insert_many(data_dict)

print("Data uploaded successfully to MongoDB!")

Data uploaded successfully to MongoDB!