In [1]:
import pandas as pd
from pymongo import MongoClient

# MongoDB connection
client = MongoClient("mongodb+srv://reshma_madala:admin123@crimewatch.ntwx0xx.mongodb.net/")
db = client["crimesdata"]
collection = db["crimestable"]

# Load data from MongoDB
data = pd.DataFrame(list(collection.find()))
print(f"Loaded {len(data)} records")

# Drop MongoDB's default _id column
data.drop(columns=["_id"], inplace=True)
data.head()

Loaded 40160 records

,Report Number,Date Reported,Date of Occurrence,Time of Occurrence,City,Crime Code,Crime Description,Victim Age,Victim Gender,Weapon Used,Crime Domain,Police Deployed,Case Closed,Date Case Closed,Latitude,Longitude
0,1,02-01-2020 00:00,01-01-2020 00:00,01-01-2020 01:11,Ahmedabad,576,IDENTITY THEFT,16,M,Blunt Object,Violent Crime,13,No,Not Closed,23.014510,72.591759
1,2,01-01-2020 19:00,01-01-2020 01:00,01-01-2020 06:26,Chennai,128,HOMICIDE,37,M,Poison,Other Crime,9,No,Not Closed,13.072092,80.201855
2,3,02-01-2020 05:00,01-01-2020 02:00,01-01-2020 14:30,Ludhiana,271,KIDNAPPING,48,F,Blunt Object,Other Crime,15,No,Not Closed,30.912040,75.853790
3,4,01-01-2020 05:00,01-01-2020 03:00,01-01-2020 14:46,Pune,170,BURGLARY,49,F,Firearm,Other Crime,1,Yes,29-04-2020 05:00,18.519570,73.855350
4,5,01-01-2020 21:00,01-01-2020 04:00,01-01-2020 16:51,Pune,421,VANDALISM,30,F,Other,Other Crime,18,Yes,08-01-2020 21:00,18.519570,73.855350

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40160 entries, 0 to 40159
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Report Number       40160 non-null  int64
 1   Date Reported       40160 non-null  object
 2   Date of Occurrence  40160 non-null  object
 3   Time of Occurrence  40160 non-null  object
 4   City                40160 non-null  object
 5   Crime Code          40160 non-null  int64
 6   Crime Description   40160 non-null  object
 7   Victim Age          40160 non-null  int64
 8   Victim Gender       40160 non-null  object
 9   Weapon Used         40160 non-null  object
 10  Crime Domain        40160 non-null  object
 11  Police Deployed     40160 non-null  int64
 12  Case Closed         40160 non-null  object
 13  Date Case Closed    40160 non-null  object
 14  Latitude            40160 non-null  float64
 15  Longitude           40160 non-null  float64
dtypes: float64(2), int64(4), object(10)
memory usage: 4.9+ MB

In [3]:
data.isnull().sum()

Report Number         0
Date Reported         0
Date of Occurrence    0
Time of Occurrence    0
City                  0
Crime Code            0
Crime Description     0
Victim Age            0
Victim Gender         0
Weapon Used           0
Crime Domain          0
Police Deployed       0
Case Closed           0
Date Case Closed      0
Latitude              0
Longitude             0
dtype: int64

In [4]:
data.nunique()

Report Number         40160
Date Reported         25546
Date of Occurrence    40160
Time of Occurrence    39886
City                     29
Crime Code              500
Crime Description        21
Victim Age               70
Victim Gender             3
Weapon Used               7
Crime Domain              4
Police Deployed          19
Case Closed               2
Date Case Closed      16012
Latitude                 29
Longitude                29
dtype: int64

In [5]:
data.describe()

,Report Number,Crime Code,Victim Age,Police Deployed,Latitude,Longitude
count,40160.000000,40160.000000,40160.00000,40160.000000,40160.000000,40160.000000
mean,20080.500000,349.360259,44.49126,10.006250,21.747599,77.467283
std,11593.337742,144.169205,20.22555,5.467951,5.446585,4.105747
min,1.000000,100.000000,10.00000,1.000000,12.976746,70.793220
25%,10040.750000,225.000000,27.00000,5.000000,18.519570,73.855350
50%,20080.500000,349.000000,44.00000,10.000000,21.203509,77.218791
75%,30120.250000,474.000000,62.00000,15.000000,26.921039,79.084910
max,40160.000000,599.000000,79.00000,19.000000,34.071745,88.370215

In [6]:
# Convert time to hour
data['Hour'] = pd.to_datetime(data['Time of Occurrence'], errors='coerce').dt.hour

# Create per-city summary
city_stats = data.groupby('City').agg({
    'Report Number': 'count',
    'Hour': 'mean',
    'Police Deployed': 'mean',
    'Victim Age': 'mean',
    'Weapon Used': lambda x: x.value_counts().idxmax(),
    'Crime Description': lambda x: x.value_counts().idxmax(),
    'Latitude': 'first',
    'Longitude': 'first'
}).reset_index()

# Rename for clarity
city_stats.rename(columns={
    'Report Number': 'Total Crimes',
    'Hour': 'Avg Hour',
    'Police Deployed': 'Avg Police',
    'Victim Age': 'Avg Victim Age',
    'Weapon Used': 'Most Common Weapon',
    'Crime Description': 'Most Common Crime'
}, inplace=True)

city_stats.head()

,City,Total Crimes,Avg Hour,Avg Police,Avg Victim Age,Most Common Weapon,Most Common Crime,Latitude,Longitude
0,Agra,764,11.769716,10.212042,43.691099,No Weapon,ASSAULT,27.167725,78.035889
1,Ahmedabad,1817,11.404348,10.020914,44.319207,Explosives,ASSAULT,23.014510,72.591759
2,Bangalore,3588,11.484891,9.952341,44.658584,Blunt Object,PUBLIC INTOXICATION,12.976746,77.575278
3,Bhopal,690,10.864964,9.889855,44.198551,Knife,ASSAULT,23.254690,77.402890
4,Chennai,2493,11.139818,10.235058,44.061372,Knife,HOMICIDE,13.072092,80.201855

In [7]:
from sklearn.preprocessing import LabelEncoder

le_weapon = LabelEncoder()
le_crime = LabelEncoder()

city_stats['Weapon Encoded'] = le_weapon.fit_transform(city_stats['Most Common Weapon'])
city_stats['Crime Encoded'] = le_crime.fit_transform(city_stats['Most Common Crime'])

In [8]:
# Proxy: fewer crimes, more police => safer
city_stats['Safety Score'] = (
    - city_stats['Total Crimes'] +
    2 * city_stats['Avg Police'] -
    0.5 * city_stats['Weapon Encoded']  # Violent weapons weigh negatively
)

# Normalize target
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
city_stats['Safety Score'] = scaler.fit_transform(city_stats[['Safety Score']])

In [9]:
features = ['Total Crimes', 'Avg Police', 'Avg Victim Age', 'Weapon Encoded', 'Crime Encoded']
X = city_stats[features]
y = city_stats['Safety Score']

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import root_mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

models = {
    'Linear Regression': LinearRegression(),
    'Decision Tree': DecisionTreeRegressor(),
    'Random Forest': RandomForestRegressor(),
    'SVR': SVR()
}

results = []

for name, model in models.items():
    model.fit(X_train, y_train)
    preds = model.predict(X_test)
    rmse = root_mean_squared_error(y_test, preds)
    r2 = r2_score(y_test, preds)
    results.append((name, rmse, r2))

In [15]:
results_df = pd.DataFrame(results, columns=['Model', 'RMSE', 'R2 Score'])
results_df.sort_values(by='R2 Score', ascending=False, inplace=True)
results_df.reset_index(drop=True, inplace=True)
results_df

               Model          RMSE  R2 Score
0  Linear Regression  4.532467e-17  1.000000
1      Random Forest  2.128649e-02  0.985574
2      Decision Tree  5.389364e-02  0.907530
3                SVR  7.277359e-02  0.831395

In [16]:
# Assume Random Forest was best (check results_df to confirm)
best_model = RandomForestRegressor()
best_model.fit(X, y)
city_stats['Predicted Safety Score'] = best_model.predict(X)

# Normalize again
city_stats['Predicted Safety Score'] = scaler.fit_transform(city_stats[['Predicted Safety Score']])

In [17]:
output_docs = city_stats[[
    'City', 'Latitude', 'Longitude', 'Predicted Safety Score',
    'Most Common Weapon', 'Most Common Crime'
]].rename(columns={'Predicted Safety Score': 'Safety Score'}).to_dict(orient='records')

safety_collection = db["safety_scores"]
safety_collection.delete_many({})
safety_collection.insert_many(output_docs)

InsertManyResult([ObjectId('682c8bc53c9ed350c1bc2850'), ObjectId('682c8bc53c9ed350c1bc2851'), ObjectId('682c8bc53c9ed350c1bc2852'), ObjectId('682c8bc53c9ed350c1bc2853'), ObjectId('682c8bc53c9ed350c1bc2854'), ObjectId('682c8bc53c9ed350c1bc2855'), ObjectId('682c8bc53c9ed350c1bc2856'), ObjectId('682c8bc53c9ed350c1bc2857'), ObjectId('682c8bc53c9ed350c1bc2858'), ObjectId('682c8bc53c9ed350c1bc2859'), ObjectId('682c8bc53c9ed350c1bc285a'), ObjectId('682c8bc53c9ed350c1bc285b'), ObjectId('682c8bc53c9ed350c1bc285c'), ObjectId('682c8bc53c9ed350c1bc285d'), ObjectId('682c8bc53c9ed350c1bc285e'), ObjectId('682c8bc53c9ed350c1bc285f'), ObjectId('682c8bc53c9ed350c1bc2860'), ObjectId('682c8bc53c9ed350c1bc2861'), ObjectId('682c8bc53c9ed350c1bc2862'), ObjectId('682c8bc53c9ed350c1bc2863'), ObjectId('682c8bc53c9ed350c1bc2864'), ObjectId('682c8bc53c9ed350c1bc2865'), ObjectId('682c8bc53c9ed350c1bc2866'), ObjectId('682c8bc53c9ed350c1bc2867'), ObjectId('682c8bc53c9ed350c1bc2868'), ObjectId('682c8bc53c9ed350c1bc2869'), ObjectId('682c8bc53c9ed350c1bc286a'), ObjectId('682c8bc53c9ed350c1bc286b'), ObjectId('682c8bc53c9ed350c1bc286c')], acknowledged=True)